.navigation-panel {
	width: calc(100% / 3);
	height: 100vh;
	/* background-color: red; */
	border-right: 1px solid rgb(51, 37, 0);
	display: inline-block;
	vertical-align: top;
	text-align: left;
	box-sizing: border-box;
	overflow: hidden;
}

.nav-pad-right {
	font-size: 13px;
	font-family: "Chirp";
	padding-top: 50px;
	padding-left: calc(33% / 2 - 85px);
}

.nav-pad-right > h1 {
	cursor: pointer;
	margin-bottom: 20px;
	width: fit-content;
	/* background-color: red; */
	border-radius: 50px;
	box-sizing: border-box;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	transition: ease-in-out 150ms;
}

.nav-pad-right > h1:hover {
	background-color: rgba(255, 255, 255, 0.205);
}

.edit-prof-btn {
	cursor: pointer;
	margin-top: -60px;
	border-radius: 30px;
	font-size: 25px;
	padding: 8px 20px 8px 20px;
	outline: none;
	border: none;
	margin-right: 10px;
	background-color: yellow;
	font-family: "Chirp";
	float: right;
	transition: ease-in-out 150ms;
}

.edit-prof-btn:hover {
	transform: rotateZ(-5deg) scale(1.1);
	background-color: rgb(212, 212, 0);
}
