/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgb(255, 238, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.navigation-panel {
	width: calc(100% / 3);
	height: 100vh;
	/* background-color: red; */
	border-right: 1px solid rgb(51, 37, 0);
	display: inline-block;
	vertical-align: top;
	/* text-align: left; */
	box-sizing: border-box;
	overflow-y: auto;
}

.nav-pad-right {
	font-size: 13px;
	font-family: "Open Sans";
	padding-top: 50px;
	text-align: right;
	padding-left: calc(33% / 2 - 85px);
}
.navigation-panel.nav-pad-right {
	text-align: right;
}

.nav-pad-right a {
	text-decoration: none;
	color: white;
	text-align: right;
	cursor: pointer;
	margin-bottom: 20px;
	/* width: fit-content; */
	/* background-color: red; */
	border-radius: 50px;
	box-sizing: border-box;
	padding: 15px;
	padding-left: 20px;
	font-size: 20px;
	margin-right: 50%;
	padding-right: 20px;
	transition: ease-in-out 150ms;
	display: block;
}

.nav-pad-right a:hover {
	/* transform: scale(1.1); */
	color: rgb(216, 188, 111);
}

.edit-prof-btn {
	cursor: pointer;
	margin-top: -60px;
	border-radius: 30px;
	font-size: 20px;
	padding: 8px 20px 8px 20px;
	outline: none;
	border: none;
	margin-right: 10px;
	background-color: yellow;
	font-family: "Open Sans";
	float: right;
	transition: ease-in-out 150ms;
}

.followbox {
	cursor: pointer;
	margin-top: -60px;
	border-radius: 30px;
	font-size: 20px;
	padding: 8px 20px 8px 20px;
	outline: none;
	border: none;
	margin-right: 10px;
	background-color: yellow;
	font-family: "Open Sans";
	transition: ease-in 100ms;
}

.edit-prof-btn:hover {
	transform: rotateZ(-5deg) scale(1.1);
	background-color: rgb(212, 212, 0);
}

.followbox:hover {
	/* background-color: rgb(212, 212, 0); */
}

.info-div {
	padding: 25px;
	/* background-color: red; */
}

.info-div > h2 {
	margin-top: -20px;
	color: gray;
}

.close-btn {
	font-size: 35px;
	position: absolute;
	top: 5px;
	right: 20px;
	cursor: pointer;
}

.main-panel.scale-twice {
	width: calc(100% - (100% / 3));
}

@media only screen and (max-width: 1200px) {
	.main-panel.scale-twice {
		width: 100%;
	}

	.main-panel.remove-main {
		display: none;
	}

	.navigation-panel.nav-pad-right {
		width: 100%;
	}

	.navigation-panel .icon {
		display: none;

		/* margin-top: 150px; */
	}

	.nav-pad-right a {
		text-decoration: none;
		color: white;
		text-align: right;
		cursor: pointer;
		margin-bottom: 20px;
		/* width: fit-content; */
		/* background-color: red; */
		border-radius: 50px;
		box-sizing: border-box;
		padding: 15px;
		padding-left: 20px;
		font-size: 20px;
		margin-right: 0;
		padding-right: 20px;
		transition: ease-in-out 150ms;
		display: block;
	}

	.nav-pad-right a:hover {
		transform: scale(1);
	}

	.nav-buttons {
		margin-top: 50px;
	}
}
