@font-face {
	font-family: "Open Sans";
	src: url("./fonts/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: "Open Sans Thin";
	src: url("./fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Chirp";
	src: url("./fonts/Cantarell-Regular.ttf");
}

:root {
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
	color: white;
	overflow-y: hidden;
}

nav {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	/* height: 50px; */
}

nav > .icon {
	width: 70px;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/icon.png);
}

.icon {
	width: 70px;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/icon.png);
	margin-bottom: 50px;
	margin-left: 130px;
}

header {
	width: 50%;
	height: calc(100vh - 50px);
	background-color: black;
	text-align: right;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	padding: 15px;
}

header > h1 {
	margin-right: 50px;
	margin-top: 150px;
	font-size: 100px;
	background: -webkit-linear-gradient(rgb(255, 223, 135), rgb(192, 147, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header > h3 {
	font-size: 25px;
	margin-top: -70px;
	margin-right: 50px;
	/* margin-left: 10px; */
}

.other-side {
	padding: 15px;
	box-sizing: border-box;
	vertical-align: top;
	background-color: black;
	width: 50%;
	height: calc(100vh - 50px);
	display: inline-block;
}

textarea {
	resize: vertical;
	font-size: 15px;
}

.welcome-form-registration {
	margin-left: 50px;
	width: 50%;
	min-height: 50%;
	border-radius: 30px;
	margin-top: 170px;
	background-color: rgb(53, 43, 24);
	border: solid 5px rgb(192, 147, 0);
	border: solid 1px rgb(192, 147, 0);
	box-sizing: border-box;
	padding: 50px;
}

.form-control {
	width: 100%;

	background-color: rgb(31, 25, 14);
	outline: none;
	border: solid 1px rgb(192, 147, 0);
	border-radius: 5px;
	height: 40px;
	color: white;
	padding-left: 7px;
	padding-right: 7px;
	box-sizing: border-box;
	font-family: "Open Sans";
	margin-bottom: 17px;
}

.welcome-form-registration > .username-field-text {
	font-size: 15px;
	margin-top: -10px;
	margin-left: 2px;
	color: rgb(200, 200, 200);
	font-family: "Open Sans Thin";
}

.welcome-form-registration > .register-error {
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: "Open Sans Thin";
}
.welcome-form-registration > .register-error .red-color {
	color: red;
}

.welcome-form-registration > button {
	width: 100%;
	height: 50px;
	background-color: yellow;
	outline: none;
	border: none;
	font-family: "Open Sans";
	font-size: 20px;
	border-radius: 5px;
	transition: ease-in-out 150ms;
}

.welcome-form-registration > button:hover {
	transform: rotateZ(5deg) scale(1.1);
	background-color: rgb(216, 216, 0);
}

.welcome-form-registration > .centered-text-form {
	text-align: center;
	font-size: 15px;
	color: gray;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.info-panel {
		display: none;
	}
}
