.page-panel {
	padding: 20px;
}

:root {
	--toastify-icon-color-default: yellow;
}

.Toastify__toast--warning {
	background: #f1c40f;
}

.page-avatar {
	width: 65px;
	height: 65px;
	border-radius: 100%;

	background-color: gray;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-name {
	margin-top: -55px;
	margin-left: 75px;
}

.page-handle {
	margin-left: 75px;
	margin-top: -17px;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.45);
}

.page-date {
	float: right;
	margin-top: -60px;
	color: rgba(255, 255, 255, 0.45);
}

.page-content {
	margin-top: 40px;
	word-wrap: break-word;
	white-space: pre-line;
}

.page-content > .postImage {
	background-color: rgba(255, 247, 0, 0.08);
}

.page-replying-to {
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 30px;
	cursor: pointer;
}
