.page-panel {
	padding: 20px;
}

:root {
	--toastify-icon-color-default: yellow;
}

.Toastify__toast--warning {
	background: #f1c40f;
}

.page-avatar {
	width: 65px;
	height: 65px;
	border-radius: 100%;

	background-color: gray;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-name {
	margin-top: -55px;
	margin-left: 75px;
}

.page-handle {
	margin-left: 75px;
	margin-top: -17px;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.45);
}

.page-date {
	float: right;
	margin-top: -60px;
	color: rgba(255, 255, 255, 0.45);
}

.page-content {
	margin-top: 40px;
	word-wrap: break-word;
	white-space: pre-line;
}

.page-content > .postImage {
	background-color: rgba(255, 247, 0, 0.08);
}

.page-replying-to {
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 30px;
	cursor: pointer;
}

.post-edit-textarea {
	font-family: "Open Sans";
	background-color: rgb(53, 43, 24);
	border: solid 5px rgb(192, 147, 0);
	border: solid 1px rgb(192, 147, 0);
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	min-width: 250px;
	color: white;
	transition: border ease-in-out 150ms;
	outline: none;
}

.post-edit-textarea:hover {
	border: solid 1px rgb(255, 196, 0);
}

.post-edit-save {
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	padding: 8px 20px 8px 20px;
	outline: none;
	border: none;
	background-color: yellow;
	font-family: "Open Sans";
	transition: ease-in 100ms;
	width: 100%;
}

.post-edit-save:hover {
	background-color: rgb(212, 212, 0);
}
