@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@font-face {
	font-family: "AppleMojis";
	src: url(./AppleColorEmoji.ttf);
}

.make-post {
	position: relative;
	padding: 25px;
}

.poster {
	width: 100%;
	height: 150px;
	background-color: grey;
	padding: 0 15px 0px 15px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: rgb(53, 43, 24);
	border: solid 5px rgb(192, 147, 0);
	border: solid 1px rgb(192, 147, 0);
}

.make-post textarea {
	min-height: 70px;
	/* padding: 15px; */
	font-size: 20px;
}

.post-box {
	white-space: pre-line;
	margin-bottom: 15px;
	width: 100%;
	min-height: 150px;
	background-color: grey;
	padding: 0 15px 0px 15px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: rgb(53, 43, 24);
	/* border: solid 5px rgb(192, 147, 0); */
	/* border: solid 1px rgb(192, 147, 0); */
	padding: 15px;
}

.post-content {
	width: 100%;
	word-wrap: break-word;
	overflow: hidden;

	white-space: pre-line;
}

.post-avatar {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: grey; */
}

.user-stuff > .user-desc > .post-name {
	vertical-align: top;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
}
.user-stuff > .user-desc > .post-date {
	margin-top: -25px;
	margin-left: 60px;
	color: gray;
}

.user-stuff > .user-desc > .post-date-time {
	margin-top: -57px;
	margin-left: 100px;
	float: right;
	color: gray;
}

.user-desc {
	cursor: pointer;
}

.post-textarea {
	width: 100%;

	background: none;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 40px;
	color: white;
	box-sizing: border-box;
	font-family: "Open Sans", "AppleMojis";
	margin-bottom: 17px;
	margin-top: 10px;
}

.post-text-avatar {
	width: 50px;
	vertical-align: top;
	height: 50px;
	margin-bottom: 15px;
	border-radius: 100%;
	display: inline-block;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: grey;
}

.post-text-name {
	vertical-align: top;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
}

.post-text-handle {
	margin-top: -40px;
	margin-left: 60px;
	color: gray;
	font-size: 15px;
	vertical-align: top;
}

.post-text-user {
	cursor: pointer;
}

.post-text-buttons > a {
	font-size: 25px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
	transition: ease-in-out 150ms;
}

.post-text-buttons > a:hover {
	color: yellow;
}

.post-text-buttons > button {
	float: right;
	font-size: 20px;
	box-sizing: border-box;
	padding: 5px 25px 5px 25px;
	border-radius: 15px;
	border: none;
	font-family: "Open Sans";
	cursor: pointer;
	transition: ease-in-out 150ms;
	background-color: yellow;
}

.post-text-buttons > button:hover {
	transform: rotate(5deg) scale(1.1);
	background-color: rgb(209, 209, 0);
}

.post-text-box {
	position: relative;
	margin-bottom: 20px;
}

.post-text-box > .EmojiPickerReact {
	position: absolute;
}

.emoji-picker-post {
	position: absolute;
}

.emoji-picker-post {
	margin-top: 10px;
}

.makeitleft {
	float: left;
}

.buttons {
	display: flex; /* establish flex container */
	flex-direction: row; /* default value; can be omitted */
	flex-wrap: nowrap; /* default value; can be omitted */
	justify-content: space-between; /* switched from default (flex-start, see below) */
	/* background-color: lightyellow; */
	font-size: 20px;
	margin-top: 25px;

	color: rgba(255, 255, 255, 0.377);
}

.buttons > div {
	cursor: pointer;
	transition: ease-in-out 150ms;
}

.buttons > div:hover {
	transform: rotateZ(5deg) scale(1.2);
}

.mention {
	color: rgb(0, 110, 255);
	text-decoration: none;
}

.mention:hover {
	color: rgb(46, 137, 255);
}

.postImage {
	width: 100%;
	min-height: 200px;
	background-color: black;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
}

.image-shower {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: red;
	z-index: 10000;
}

.post-video {
	border-radius: 15px;
	width: 100%;
	color: gray;
	margin-top: 10px;
}

.post-audio {
	width: 100%;
	color: white;
	border-radius: 15px;
	margin-top: 10px;
}

audio::-webkit-media-controls-panel {
	background-color: #ffee56;
}

.post-box-replying {
	color: rgba(255, 255, 255, 0.4);
	margin-top: 0px;

	transition: ease-in-out 100ms;
	width: 100%;
	cursor: pointer;
}

.post-box-replying:hover {
	color: white;
}

.refresh {
	font-size: 20px;
	margin-top: 0px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	width: fit-content;
	transition: ease-in-out 150ms;
}

.refresh:hover {
	color: rgba(255, 255, 255, 0.6);
}
