.banner {
	width: 100%;
	height: 350px;
	background-color: rgb(50, 50, 50);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
	.navigation-panel.info-panel {
		display: none;
	}

	.navigation-panel {
		width: calc(100% / 2);
	}
}
.avatar {
	border-radius: 100%;
	border: solid 6px black;
	background-color: black;
	width: 150px;
	height: 150px;
	margin-top: -80px;
	margin-left: 20px;
	position: relative;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.profile-name,
.profile-handle {
	margin-left: 25px;
}

.profile-handle {
	margin-top: -23px;
	color: gray;
}

.profile-bio {
	margin-left: 25px;
	white-space: pre-wrap;
}

.hidden-input {
	display: none;
}

.small-bar {
	height: 1px;
	border: none;
	background-color: rgb(51, 37, 0);
}

.profile-posts {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.profile-follower-box {
	margin-left: 24px;
}

.profile-follower-box > p {
	display: inline-block;
	margin-right: 15px;
	color: rgba(255, 255, 255, 0.438);
}

.profile-follower-box > p > span {
	color: white;
}

.profile-panel {
	overflow-x: hidden;
}

.status {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	border: 5px solid black;
	background-color: lime;
	transition: ease-in-out 150ms;
}
